<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Lisa's App
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Login buttons-->
<ion-content scroll="true" padding>
  <ion-button expand="full" (click)="loginAdmin()" *ngIf="!authenticated">Admin</ion-button>
  <ion-button expand="full" (click)="loginUser()" *ngIf="!authenticated">User</ion-button>
  <ion-button expand="full" (click)="logout()" *ngIf="authenticated">Logout</ion-button>



 <!--User view-->
  <div class="iframe-container" *appHasRole="['read-content']" [@fadeInOut]>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeVi44X-ggX40gmvO1xmYhvNiKVSf0Aiwmw8uDt8OUyZMErkA/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0" ></iframe> 
  </div>

<!--Admin view-->
  <div class="iframe-container" *appHasRole="['admin']" [@fadeInOut]>
      <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTNqBtEBd8h0a_2c6HHTjYyz8BOWWD3NzZwvesJi6A-m2w3RCHSMbpAH2KZtpu7kaZOTEAucAqA98hf/pubchart?oid=751118009&amp;format=interactive" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0" ></iframe>
  </div>

 <!--<ion-content *appHasRole="['read-content', 'admin']" [@fadeInOut]>
  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRbqh6XDtPwJMj4iLc2v89tu2JABTaaba6jeNkJM0_HoWS8tmPYLIrc88BiRtcGovLE7G9UyMZWB28X/pubhtml?widget=true&amp;headers=false" allowfullscreen></iframe>
</ion-content>-->